{% extends "base.html" %}

{% block content %}
<head>
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1 class="centered-title">Dashboard</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[3] }}</td>
                <td>R$ {{ product[4] }}</td>
                <td>
                    <a href="{{ url_for('sell_product', product_id=product[0]) }}">Vender</a>
                    <a href="{{ url_for('remover_produto', produto_id=product[0]) }}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="actions">
            <a href="{{ url_for('add_product') }}" class="btn">Adicionar Produto</a>
            <a href="{{ url_for('sales_report') }}" class="btn">Gerar Relatório</a>
            <a href="{{ url_for('logout') }}" class="btn">Sair</a>
        </div>
    </div>
</body>
</html>
{% endblock %}