{% extends "base.html" %}

{% block content %}

    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="loginUser">Usuário:</label>
        <input type="text" id="loginUser" name="loginUser" required><br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>
        <input type="submit" value="Login">
    </form>
    <br>
    <p><a href="/cadastro">Cadastrar</a></p>
</body>
</html>
{% endblock %}