{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
    <label for="loginUser">Nome de usuário:</label>
    <input type="text" id="loginUser" name="loginUser" placeholder="Nome de usuário" required autocomplete="new-password">

    <label for="senha" autocomplete="off">Senha:</label>
    <input type="password" id="senha" name="senha" placeholder="Senha" autocomplete="new-password">

    <button type="submit">Entrar</button>
</form>
<p>Esqueceu sua senha? <a href="{{ url_for('reset_password') }}">Recupere aqui</a></p>
<p>Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se</a></p>
{% endblock %}
