{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h2>Redefinir Senha</h2>
    <form method="POST" action="{{ url_for('new_password') }}">
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" required autocomplete="new-password"><br><br>

        <label for="new_password">Nova senha:</label>
        <input type="password" id="new_password" name="new_password" required autocomplete="new-password"><br><br>

        <label for="confirm_password">Confirmar nova senha:</label>
        <input type="password" id="confirm_password" name="confirm_password" required autocomplete="new-password"><br><br>

        <button type="submit">Redefinir Senha</button>
    </form>
</body>
{% endblock %}