{% extends "base.html" %}

{% block title %}Registrar{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('register') }}">
    <label for="loginUser">Nome de usuário:</label>
    <input type="text" id="loginUser" name="loginUser" placeholder="Nome de usuário" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" placeholder="Senha" required>

    <label for="tipoUser">Tipo de Usuário:</label>
    <select id="tipoUser" name="tipoUser" required>
        <option value="normal">Normal</option>
        <option value="super">Super</option>
    </select>

    <button type="submit">Registrar</button>
</form>

<p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça login</a></p>
{% endblock %}
