{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Gerar Relatório de Vendas</h2>
    <form method="POST">
        <label for="produto">Escolha o Produto</label>
        <select name="product_id" id="produto" required>
            {% for product in products %}
                <option value="{{ product[0] }}">{{ product[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Gerar Relatório</button>
    </form>

    {% if fig_html %}
        <h3>Gráfico de Vendas</h3>
        {{ fig_html | safe }}
    {% endif %}
</div>
{% endblock %}