{% extends "base.html" %}

{% block content %}
  <h1>Vender Produto</h1>
  <h3>Produto: {{ product[1] }}</h3>
  <form action="{{ url_for('sell_product', product_id=product[0]) }}" method="POST">
    <label for="buyer_name">Nome do Comprador:</label>
    <input type="text" name="buyer_name" id="buyer_name" autocomplete="new-password"><br>

    <label for="buyer_contact">Contato do Comprador:</label>
    <input type="text" name="buyer_contact" id="buyer_contact" autocomplete="new-password"><br>

    <label for="quantity_sold">Quantidade Vendida:</label>
    <input type="number" name="quantity_sold" id="quantity_sold" required autocomplete="new-password"><br>

    <button type="submit">Vender</button>
  </form>

  {% if error_message %}
    <p class="error">{{ error_message }}</p>
  {% endif %}

  <a href="{{ url_for('dashboard') }}">Voltar para o Dashboard</a>
{% endblock %}
